// Icon names from left to right
$table-sort-names: pagetable_column_sorted_asc, pagetable_column_sorted_desc;

// Generate corresponding class names
$table-sort-class-names: null;

@each $css-name in $table-sort-names { $table-sort-class-names: append($table-sort-class-names, str-insert($css-name, "th.", 1) + " span"); }

// Default sprite size is 27x18 px
$table-sort-width: 27px;
$table-sort-height: 18px;

#{$table-sort-class-names} { display: inline-block; width: #{$table-sort-width}; height: #{$table-sort-height}; margin-left: 3px; background-image: url(table_18px_sprite.png) }

$table-sort-position: 0;

@each $css-name in $table-sort-names {
	th.#{$css-name} span { background-position: -($table-sort-width * $table-sort-position) 0 }
	$table-sort-position: 1 + $table-sort-position;
}

// Small sprite size is not used for sort symbols

@media only screen and (min-width: 46em) and (max-width: 62em) {
	// Medium sprite size is 24x17 px
	$table-sort-width: 24px;
	$table-sort-height: 17px;

	#{$table-sort-class-names} { width: $table-sort-width; height: $table-sort-height; margin-left: 2px; background-image: url(table_17px_sprite.png) }

	$table-sort-position: 0;

	@each $css-name in $table-sort-names {
		th.#{$css-name} span { background-position: -($table-sort-width * $table-sort-position) 0 }
		$table-sort-position: 1 + $table-sort-position;
	}
}